<div class="content-wrapper listing">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pandora's Box</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><b>Name</b><i class="mdi mdi-arrow-up"></i></th>
                                    <th>Last edit<i class="mdi mdi-arrow-up"></i></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p><i class="mdi mdi-folder"></i> Test Folder</p></td>
                                    <td>--</td>
                                    <td>
                                        <div class="dropdown" uib-dropdown>
                                            <button class="btn btn-sm btn-transparent dropdown-toggle" uib-dropdown-toggle><i class="mdi mdi-dots-horizontal"></i></button>
                                            <div class="dropdown-menu dropdown-menu-left listing-dropdown" uib-dropdown-menu>
                                                <a class="dropdown-item">
                                                    Scarica
                                                </a>
                                                <a class="dropdown-item">
                                                    Rinomina
                                                </a>
                                                <a class="dropdown-item">
                                                    Sposta
                                                </a>
                                                <a class="dropdown-item">
                                                    Elimina
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p><i class="mdi mdi-folder"></i> Test Folder 2</p></td>
                                    <td>--</td>
                                    <td>
                                        <div class="dropdown" uib-dropdown>
                                            <button class="btn btn-sm btn-transparent dropdown-toggle" uib-dropdown-toggle><i class="mdi mdi-dots-horizontal"></i></button>
                                            <div class="dropdown-menu dropdown-menu-left listing-dropdown" uib-dropdown-menu>
                                                <a class="dropdown-item">
                                                    Scarica
                                                </a>
                                                <a class="dropdown-item">
                                                    Rinomina
                                                </a>
                                                <a class="dropdown-item">
                                                    Sposta
                                                </a>
                                                <a class="dropdown-item">
                                                    Elimina
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p><i class="mdi mdi-file"></i> File 1</p></td>
                                    <td>29/06/2018 15:35</td>
                                    <td>
                                        <div class="dropdown" uib-dropdown>
                                            <button class="btn btn-sm btn-transparent dropdown-toggle" uib-dropdown-toggle><i class="mdi mdi-dots-horizontal"></i></button>
                                            <div class="dropdown-menu dropdown-menu-left listing-dropdown" uib-dropdown-menu>
                                                <a class="dropdown-item">
                                                    Scarica
                                                </a>
                                                <a class="dropdown-item">
                                                    Rinomina
                                                </a>
                                                <a class="dropdown-item">
                                                    Sposta
                                                </a>
                                                <a class="dropdown-item">
                                                    Elimina
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p><i class="mdi mdi-file"></i> File 2</p></td>
                                    <td>29/06/2018 15:35</td>
                                    <td>
                                        <div class="dropdown" uib-dropdown>
                                            <button class="btn btn-sm btn-transparent dropdown-toggle" uib-dropdown-toggle><i class="mdi mdi-dots-horizontal"></i></button>
                                            <div class="dropdown-menu dropdown-menu-left listing-dropdown" uib-dropdown-menu>
                                                <a class="dropdown-item">
                                                    Scarica
                                                </a>
                                                <a class="dropdown-item">
                                                    Rinomina
                                                </a>
                                                <a class="dropdown-item">
                                                    Sposta
                                                </a>
                                                <a class="dropdown-item">
                                                    Elimina
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>