/* Login specific styles */

.auth.login {
    h2 {
        color: rgba(255, 255, 255, 0.8);
    }

    .auth-footer li {
        border-right: 1px solid rgba(255, 255, 255, 0.6);

        a {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .footer-text {
        color: rgba(255, 255, 255, 0.6);
    }
}